groundingLMM/checkpoints/
**/checkpoints/
*.pth
*.bin


# 결과물 이미지 및 테스트용 이미지
*.png
*.jpg
*.jpeg
!groundingLMM/test_image/
!groundingLMM/test_image/*

# 파이썬 및 시스템 캐시
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/

# 실행 파일 및 환경 관련
miniconda.exe
.env
venv/

