groundingLMM/checkpoints/
datasets/checkpoints/
**/checkpoints/
*.pth
*.bin
*.pt
checkpoints/
output/
training_log.txt
Miniconda3-latest-Linux-x86_64.sh
datasets/
data/
*.json
*.env

AI_Hub
NEON_dataset.csv
NEON_dataset_with_carbon.csv
/Users/bosung/Desktop/GLaMM/datasets/DeepForest/deepforest_sample
test.py

# 결과물 이미지 및 테스트용 이미지
*.png
*.jpg
*.jpeg
!groundingLMM/test_image/
!groundingLMM/test_image/*
!test.png
*.json
!datasets/INaturalist/l1_prepare_data.json
datasets/INaturalist/all_tree_ids.txt
datasets/NEON/NEON_dataset

L3_Final_Output/
L3_Work_Dir/

# 파이썬 및 시스템 캐시
__pycache__/
*.pyc
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/

glamm_env.tar.gz
winter_project.tar.gz
my_envs/

# 실행 파일 및 환경 관련
miniconda.exe
.env
venv/

.vscode

Miniconda3-latest-Linux-x86_64.sh
