groundingLMM/checkpoints/
datasets/checkpoints/
**/checkpoints/
*.pth
*.bin

AI_Hub
NEON_dataset.csv
NEON_dataset_with_carbon.csv
# 결과물 이미지 및 테스트용 이미지
*.png
*.jpg
*.jpeg
!groundingLMM/test_image/
!groundingLMM/test_image/*
*.json
!datasets/INaturalist/l1_prepare_data.json
datasets/INaturalist/all_tree_ids.txt
datasets/NEON/NEON_dataset

L3_Final_Output/
L3_Work_Dir/

# 파이썬 및 시스템 캐시
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/

# 실행 파일 및 환경 관련
miniconda.exe
.env
venv/

